body {
    background-color: #f3f3f3;
}

.content-limiter {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#logos {
    text-align: center;
}

#lab-logo {
    height: 64px;
    width: auto;
}

#main-nav {
    flex-direction: column;
}

.main-nav-btn {
    transition-duration: .5s;
    display: block;
}

.main-nav-btn:hover {
    border-radius: 10px;
}

#main-nav-placeholder {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#sns {
    font-size: 30px;
}

#sns a {
    margin-left: 5px;
    margin-right: 5px;
}

.title {
    text-align: center;
    text-decoration: underline;
}

.hide-nav {
    display: none;
}

@media screen and (min-width: 900px) {
    #logos {
        text-align: left;
        display: flex;
        justify-content: space-between;
    }

    #lab-logo {
        height: 70px;
    }

    #main-nav {
        flex-direction: row;
        justify-content: center;
    }

    #sns {
        display: flex;
        align-items: flex-end;
    }

    .main-nav-btn {
        display: inline-block;
    }

    #show-nav {
        display: none;
    }

    .hide-nav {
        display: flex;
    }
}