.logo-theme-fb {
    color: #3b5998;
    text-decoration: none;
}

.logo-theme-twitter {
    color: #1da1f2;
    text-decoration: none;
}

.logo-theme-github {
    color: black;
    text-decoration: none;
}

.logo-theme-gitlab {
    color: #fc6d26;
    text-decoration: none;
}

.logo-theme-bitbucket {
    color: #205081;
    text-decoration: none;
}