<div class="w3-container w3-padding w3-white">
    <div class="content-limiter" id="logos">
        <img src="https://cdn.jsdelivr.net/gh/kelvinchin12070811/web_images/applab_banner.svg" id="lab-logo">
        <div id="sns">
            <a w3-repeat="sns" href="{{link}}" class="{{color}} w3-hover-opacity">
                <i class="{{icon}}" title="{{name}}"></i>
            </a>
        </div>
    </div>
</div>
<div class="w3-bar w3-black">
    <nav class="content-limiter" id="main-nav">
        <a class="w3-button w3-black w3-hover-white main-nav-btn" w3-repeat="nav" href="{{link}}">
            {{name}}
        </a>
    </nav>
</div>