body {
    background-color: #f3f3f3;
}

.content-limiter {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#lab-logo {
    height: 64px;
    width: auto;
}

@media screen and (min-width: 900px) {
    #lab-logo {
        height: 70px;
    }
}